# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/engine/
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner.xcworkspace/
ios/Pods/
ios/Podfile.lock
ios/Podfile.symlinks/
ios/Flutter/ephemeral/
ios/.symlinks/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/.generated/
*.xcuserstate
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# Android
android/.gradle/
android/captures/
android/app/build/
android/.idea/
android/local.properties
android/.settings/
android/.externalNativeBuild/
android/.cxx/
*.iml

# VS Code
.vscode/
.history/

# IntelliJ
.idea/
*.iml

# Mac
.DS_Store

# Others
*.log
*.tmp
*.swp
*.lock